body,html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 1ch;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.swot {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 5ch;
}

.swot > form {
  width: 100%;
  margin-top: 1ch;
  gap: 1ch;
  display: flex;
  flex-direction: row;
}

.forminput {
  display: flex;
}

.itemList {
  width: 30%;
}

.itemList li {
  list-style: none;
}
.forminput > select , button {
  height: 5ch;
  margin-left: 1ch;
}



.item {
  display: flex;
}

.item > p {
  flex-grow: 3;
}

.item > button {
 flex-grow: 1;
}

.swot > form > textarea {
  height: 10ch;
  width: 30%;
  font-size: large;
  resize: vertical;
}
.swotmatrix {
  display: flex;
  justify-content: center;
}

.swotmatrix li {
  list-style: none;
}

.swotmatrix > table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


.swotmatrix table {
  height: 30ch;
  width: 125ch;
}
.swotmatrix th {
  background-color: brown;
}

#swotform {
  display: flex;
  justify-content: center;
}


.export {
  display: flex;
  justify-content: center;
}